*{
  font-family: Ubuntu;
}

body {
    margin: 2em;
    text-align: center;
}

header {
    height: 1em;
}

#content_holder {
    width:400px;
    height: 200px;
    margin: 0 auto;
    background-color: #DFDCE3;
    position: relative;
}

#text-holder {
    position: absolute;
    top:20%;
    width: 85%;
    height: 150px;
    background-color: white;
    margin: -13px 0 0 32px;
    word-wrap: break-word;
}

.dropdown-content {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-bottom: 200px;
    top: 100%;

}

/* input[type=submit] {
    height: 45px;
    width: 135px;
    font-family: monospace;
    border: .2rem solid;
    font-size: 1.5rem;
    position: absolute;
    top:85%;
    left:50%;
    margin: 0 0 0 -67.5px;
    transition: 0.5s;
}

input[type=submit]:hover {
    transform: scale(1.1);
} */
